.shoping-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.product-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 0.5rem;
    justify-items: center;
    align-content: center;
}

.details-container{
    background-color: aqua;
}